CallCenterTest/Connected Services/WSCallCenter/WSCallCenter.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:59393/WSCallCenter.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfCallCenter" />
  <xs:element name="ConsultaPagosCliente">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="clienteCedula" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConsultaPagosClienteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfCallCenter" minOccurs="0" name="ConsultaPagosClienteResult" nillable="true" type="q1:ArrayOfCliente" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>